/* Stylings of Harry Potter */
/* Von Ralls vonralls@gmail.com */
/* colors:  Blue = 0092d8 Yellow = ffd900  */

body {
	
	background-color: #edebea;
}

#header {
	
	background-color: #fff;
	width: 100%;
	font-family: 'Lora', serif;
	text-align: center;
	
}

#search {
	
	background-color: #ffd900;
	height: 100px;
	width: 100%;
	font-family: 'Lora', serif;
	text-align: center;
	
  
	
}

#search input {
	vertical-align: middle;
}

#search img {
	
	vertical-align: middle;
	
}

#search input.text {
	
	width: 60%;
	height: 68px;
	color: #0092d8;
	padding-left: 10px;
	/* round corners */
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	font-family: 'Lora', serif;
	font-size: 18px;
		
	}

#search-content {
	
	width: 80%;
	margin: auto;
	height: 100px;
	line-height: 100px;
	
	
}



#results {
	
	background-color: #edebea;
	width: 100%;
	font-family: 'Lora', serif;
	text-align: center;
	
}

#results-content {
	
	background-color: #edebea;
	width: 80%;
	margin: auto;
	
}
#results-content p.alignleft {
	
		float: left;
	
	}
	
#results-content p.alignright {
	
	   float: right;
	
	}


#results-content h1 {
	float: left;
	font-family: 'Lora', serif;
	color: #0092d8;
	
}

#results-list {
	
	clear: both;
	text-align: left;
	width: 100%;
}


/* Didn't want to use a bg image, but haven't figured out a better way */
#book-icon {
	
	width: 230px;
	height: 340px;
	background-image: url("images/bookcover_bg.jpg");
	vertical-align: bottom;	
	position: relative;
	float: left;
	margin: 5px;


	
	
}

#overlay {
	
	width: 230px;
	height: 35%;
	background-color: black;
	background: rgb(0,0,0,0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0px;
	text-align: right;
	color: #fff;
	
	
}

#overlay p {
	
	padding-right: 10px;
	font-family: 'Lora', serif;
	font-size: 18px;
	
	
}








/*working on that overlay */

.hilight {
    background-color: #000;
    position: absolute;
    height: 85px;
    width: 230px;
    opacity: 0.65;
    font-family: 'Lora', serif;
    color: #FFF;
    bottom: 0px;
    z-index: 1;
}

#footer {
	float: left;
	background-color: #edebea;
	width: 100%;
	font-family: 'Lora', serif;
	font-size: 12px;
	text-align: center;
	border-top: 1px solid black;
}